body {
    font-size: larger;
    background-color: rgb(160, 26, 243);
    color: white;
}

#fevereiroRoxo {
    margin-top: 20px;
    /* background: linear-gradient(0deg, rgba(161, 34, 180, 0.7287289915966386) 11%, rgba(255, 255, 255, 1) 47%);
    background-image: url("../img/fevereiroRoxo.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; */
}

h3 {
    font-weight: 800;
    text-align: center;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#alzheimer {
    background-image: url("../img/alzheimer.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lupus {
    background-image: url("../img/lupus.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fibromialgia {
    background-image: url("../img/fibromialgia.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fim {
    height: 100vh;
    background-image: url("../img/semCuraConforto.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.listSint {
    list-style: disc !important;
}

.listSint li {
    list-style-type: inherit !important;
}

.fundoTab {
    padding-top: 10px !important;
}

.fundoTab h6 {
    font-weight: bolder;
}

.escurinho {
    background-color: rgba(19, 19, 19, 0.24);
    padding: 10px;
}

.asterisco {
    width: 10px;
    height: 10px;
}

#formulario {
    background-color: aliceblue;
    color: black;
}

#formConfirmacao {
    color: black;
}

a:focus,
a:hover {
    border: 2px solid #F00;
}

.gif {
    max-width: 500px;
    max-height: 300px;
}